<h1>Angular</h1>

<hr/>
<courses></courses>

<hr/>
<course></course>

<hr/>
<authors></authors>

<hr/>
<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>

<hr />
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h6>Body</h6>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>

<hr />
<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>

<hr />
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>

<hr />
<hr />
<button (click)="onAdd()">Add</button>
<button (click)="loadCourses()">Load Recommendations</button>
<ul>
    <li *ngFor="let recommendation of recommendations; trackBy: trackRecommendation">
        {{ recommendation.name }}
        <button (click)="onRemove(recommendation)">Remove</button>
    </li>
</ul>

<hr />
<button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',   
        'color': canSave ? 'white' : 'black',   
        'fontWeight': canSave ? 'bold' : 'normal'   
    }"
>
Save
</button>

<hr />
<span>{{ task.assignee?.name }}</span>

<hr />
<ul class="navbar navbar-nav">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div> 
    <div *ngSwitchDefault>Otherwise</div> 
</div>

<hr />
<input type="text" [appInputFormat]="'uppercase'">

<!--
<hr />
<div [hidden]="wishes.length == 0">
    List of wisches
</div>
<div [hidden]="wishes.length > 0">
    No wishes yet
<div>
-->

<hr />
<h2>FORMS</h2>

<hr />
<contact-form></contact-form>

<hr />
<course-form></course-form>