<h1>Angular</h1>

<hr/>
<courses></courses>

<hr/>
<course></course>

<hr/>
<authors></authors>

<hr/>
<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>

<hr />
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h6>Body</h6>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>

<hr />
<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>

<hr />
<div [hidden]="wishes.length == 0">
    List of wisches
</div>
<div [hidden]="wishes.length > 0">
    No wishes yet
<div>